@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.162),
      rgba(255, 255, 255, 0.216)
    ),
    url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #646cff;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.app-header {
  background-color: #acaaaa41;
  padding: 4rem 3rem;
  border-radius: 0;
  text-align: center;
  margin: 0;
  width: 93vw;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
  color: #212121;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.logo-link {
  text-decoration: none;
}

.logo-link:hover h1 {
  color: #555;
}

.search-bar {
  display: block;
  min-width: 200%;
  max-width: 600px;
  flex: 1;
  margin: 0rem auto 1rem auto;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #aba7a7;
  border-radius: 4px;
  background-color: #fafafa;
  color: #333;
  outline: none;
  transition: box-shadow 0.2s;
  position: relative;
}

.search-bar:focus {
  box-shadow: 0 0 8px rgba(100, 108, 255, 0.3);
  border-color: #2731f2;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 80px);
  padding-top: 80px;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: #333;
  color: #fff;
  border: darkviolet;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.menu-button:hover {
  transform: scale(1.1);
  background-color: #007bff;
}

.menuPopout {
  position: absolute;
  top: 55px;
  left: 60px;
  background-color: #333;
  border: 1px solid #ffc107;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list li a {
  text-decoration: aqua;
  color: #fff;
  display: block;
  padding: 5px;
  border-radius: 4px;
}

.menu-list li a:hover {
  transform: scale(1.1);
  background-color: #007bff;
}

.sando-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.favorite-button {
  background: none;
  color: crimson;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0px;
  width: 28px;
  height: 28px;
}

.favorite-button:hover {
  transform: scale(1.1);
}

.bookmark-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0px;
  width: 28px;
  height: 28px;
}

.bookmark-button:hover {
  transform: scale(1.1);
}

.tried-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0px;
  width: 28px;
  height: 28px;
}

.tried-button:hover {
  transform: scale(1.1);
}

.logout-button {
  position: absolute;
  top: 1rem;
  right: 7rem;
  display: flex;
}

.logout-button:hover {
  transform: scale(1.1);
}

.user-link-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fav-user-link:hover {
  transform: scale(1.1);
}

.book-user-link:hover {
  transform: scale(1.1);
}

.tried-user-link:hover {
  transform: scale(1.1);
}

.auth-buttons {
  position: absolute;
  top: 1rem;
  right: 7rem;
  display: flex;
  gap: 1rem;
}

.auth-button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  transform: scale(1.1);
}

.user-button {
  position: absolute;
  top: 1rem;
  right: 4rem;
  display: flex;
}

.user-prof-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.user-prof-button:hover .button-image {
  transform: scale(1.1);
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 20px;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.1);
}

.user-form {
  margin-bottom: 5px;
}

.user-input {
  padding: 5px;
  border: 1px #ccc;
  border-radius: 4px;
}

.user-input:hover {
  transform: scale(1.03);
}

.pwd-input {
  padding: 5px;
  border: 1px #ccc;
  border-radius: 4px;
}

.pwd-input:hover {
  transform: scale(1.03);
}

.login-link {
  color: #007bff;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 20px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-link {
  color: #007bff;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-notice-link {
  color: #007bff;
  font-weight: bold;
}

.login-notice-link:hover {
  text-decoration: underline;
}

.random-button {
  display: block;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #1a40e9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.random-button:hover {
  background-color: #535bf2;
}

.sandwich-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  resize: both;
}

.sandwich-card {
  width: 300px; /* Fixed width */
  height: 350px; /* Fixed height */
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 280px;
  background-color: #fffffff4;
  box-shadow: 0 4px 8px rgba(146, 132, 132, 0.1);
  text-align: left;
  transition: all 0.3s;
  position: relative;
}

.fav-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sandwich-card-fav {
  padding: 1rem;
  border: 10px solid #d89607;
  border-radius: 8px;
  max-width: 280px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(146, 132, 132, 0.1);
  text-align: left;
  transition: all 0.3s;
}

.sandwich-card-fav:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sandwich-card h2 {
  font-size: 1.5rem;
  color: #646cff;
  margin-bottom: 0.5rem;
}

.sandwich-card ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
  color: #555;
}

.sandwich-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.dietary-tags {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.dietary-tag-icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.cost-range {
  font-size: 1.25rem;
  color: #333;
  margin: 8px 0;
}

.rating.static {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.rating .star {
  font-size: 1.5rem;
  color: #ddd;
}

.rating .star.filled {
  color: #ffd000;
}

.filter-page {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.preference-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #ffffff96;
}

.preference-table th,
.preference-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.preference-table th {
  background-color: #ffffffc3;
  font-weight: bold;
}

.apply-button {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.apply-button:hover {
  background-color: #0056b3;
}

.search-filter-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
  padding: 0.4rem 0.6rem;
}

.filter-icon-link {
  display: inline-block;
}

.filter-icon {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.filter-icon:hover {
  opacity: 0.7;
  filter: brightness(1.2);
}

.clear-filters-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 9px 9px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.clear-filters-button:hover {
  background-color: #ff4f41;
}

/* Shrink for tablets or smaller screens */
@media (max-width: 768px) {
  .search-bar {
    width: 80%;
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 480px) {
  .search-bar {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
  }
}
